@font-face {
  font-family: Delta;
  src: url("undertale-deltarune-text-font-extended.otf") format("opentype");
}
img {
  width: 10%;
}
.moeda,
.bandeira,
.idioma,
.derrota {
  display: none;
}
html {
  font-family: Delta;
  font-size: calc(15px + 0.390625vw);
}
